node_modules/**/*
.expo/*
.expo-shared/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.eslintcache

# macOS
.DS_Store
.idea/

assets/adaptive-icon.png
assets/company-logo.png
assets/icon.png
assets/splash.png